* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background: url(img/planodefundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     animation: fadeIn .6s ease;
    
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.caixa {
    background-color: rgb(0, 0, 0);
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 48%;
    flex-direction: column;
    padding: 45px 0;
    border: 5px solid #fea613;
    border-radius: 15px;
    cursor: pointer;
}



.produto img {
    width: 400px;
    margin-left: 60px;
    margin-top: 30px;
    border: 5px solid;
    border-color:#fea613;
    border-radius: 15px;

}
.produto p{
    margin: 20px;
}

.produto button{
    float: right;
    margin-right: 30px;
    padding: 7px 20px;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #000000;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
   
   
}

.produto button:hover{
    background-color: #fea613;
    color: #fff;
    padding: 8 px 21px;
}
.produto p{
    color: #fff;
}

.produto h1{
    margin-left: 20px;
    color: #f0d148;
}

.vd{
    
    float: right;
    display: block;
    margin-right: 60px;
    margin-top: 60px;
}

.vd video{
    width: 600px;
    display: block;
    margin: 0;
    border: 4px solid #fea613;
    border-radius: 15px;
}

.voltar button{
    padding: 7px 20px;
    margin: 40px;
    border-radius: 15px;
    border: 3px solid #000000;
    color: #000000;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.voltar button:hover{
    background-color: #fea613;
    color: #fff;
}